{% extends 'base.html' %}
{% load static %}



{% block titulo %} 
    Home
{% endblock titulo %}


{% block 'conteudo' %}
    


    <main class="main-site">
        <selection class="conteudo-principal">
          <div class="coluna-filtro">
            {% block 'filtros' %}
            
              <form method="POST" action={% url 'filtrar' %}> {% csrf_token %}
                <h1>Categorias</h1>  
                {% for categoria in categorias %}

                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" name="{{categoria.id}}" value = "{{categoria.id}}">
                      <label class="form-check-label" for="exampleCheck1">{{categoria.nome}}</label>
                    </div>

                {% endfor %}

                <h1>Preço</h1>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" >
                  <label class="form-check-label" for="exampleCheck1">De R$ 1,00 Até R$ 50,00</label>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" >
                  <label class="form-check-label" for="exampleCheck1">De R$ 50,00 Até R$ 100,00</label>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" >
                  <label class="form-check-label" for="exampleCheck1">De R$ 100,00 Até R$ 150,00</label>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" >
                  <label class="form-check-label" for="exampleCheck1">De R$ 150,00 Até R$ 200,00</label>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input">
                  <label class="form-check-label" for="exampleCheck1">Mais de R$ 200,00</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            
            {% endblock %}
          </div>
          <div class="coluna-produtos">
            
              {% for produto in produtos %}
                  
                    <div class="card">
                      
                      <div id="div-fav">
                        <a href="{% url 'favoritos_add' produto.id %}" class="button div-fav">
                        
                          <button type="button" class="btn" id="btn-favorito" onclick="activeBtnFav()">
                            <img src="{% static 'home/img/lupa_icon.png' %}" id="icon-favorito">
                          </button>
                        </a>
                      </div>
                        <img src="{{produto.imagem.url}}" class="card-img-top" alt="...">
                        <div class="card-body card-info">
                          <h5 class="card-title ">{{produto.titulo}}</h5>
                          <h1 class="card-subtitle ">R$: {{produto.preco}}</h1>
                        </div>
                        <a href="{% url 'ver_produto' produto.id %}" class="btn btn-info">Ver detalhes</a>
                        <br>
                      </div>
                  
            {% endfor %}
          </div>
        </selection>
      </main>

        

    
{% endblock %}

