{% extends 'base.html' %}
{% load static %}

{% block titulo %} 
    Home
{% endblock titulo %}

{% block 'conteudoFiltros' %}
    {% for i in filtros %}
        <div class="filtros-coontainer">
            <p>
                {{i.descricao}}
            </p>
        </div>
    {% endfor %}
{% endblock %}


{% block 'conteudo' %}
    

    <main class="main-site">
        <selection class="conteudo-principal">
          <div class="coluna-filtro">
            filtros
          </div>
          <div class="coluna-produtos">
            {% for produto in produtos %}

                <div class="produto-coontainer">
                    <p>
                        {{produto.titulo}}
                    </p>
                    <h1>
                        {{produto.preco}}
                    </h1>
                </div>

            {% endfor %}
          </div>
        </selection>
      </main>

        

    
{% endblock %}

