{% extends 'home.html' %}

{% block conteudoFiltros %}
    {% for i in filtros %}
        <div class="filtros-coontainer">
            <p>
                {{i.descricao}}
            </p>
        </div>
    {% endfor %}
{% endblock conteudoFiltros %}


{% block conteudo %}
    {% for produtoi in produtos %}

        <div class="produto-coontainer">
            <p>
                {{produtoi.nome}}
            </p>
            <h1>
                {{produtoi.preco}}
            </h1>
        </div>

    {% endfor %}
{% endblock %}