{% extends 'base_autenticado.html' %}
{% load static %}



{% block titulo %} 
    Pagamento
{% endblock titulo %}


{% block 'conteudo' %}
<h1>Confirme os dados do pedido para seguir com o pagamento</h1>

<div class="container-detalhes">
    <h2>Rumo do pedido:</h2>
    <div class="conteudo-produto">
        <br>
        <h3>Produtos </h3>
        {% for carrinho in carrinho %}
                
                <div class="produto-coontainer col-md">
                    <div class="card" style="width: 18rem;">
                        <img src="{{carrinho.produto.imagem.url}}" class="card-img-top" alt="...">
                        <div class="card-body card-info">
                        <h5 class="card-title ">{{carrinho.produto.titulo}}</h5>
                        <h1 class="card-subtitle ">R$: {{carrinho.produto.preco}}</h1>
                        </div>
                        <br>
                    </div>
                </div>
        
        {% endfor %}
        <h2>Total: {{total}} </h2>

    </div>
    <div class="conteudo-endereco">
        <h3>Endereço de Entrega </h3>
                <div class="produto-coontainer col-md">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body card-info">
                            <h1 class="cidade ">Cidade: {{endereco.cidade}}</h1>
                            <h5 class="rua ">CEP: {{endereco.cep}}</h5>
                            <h5 class="rua ">Rua: {{endereco.rua}}, {{endereco.numero}} </h5>
                            <h5 class="rua ">Bairro: {{endereco.bairro}}</h5>
                        </div>
                    </div>
                </div>

    </div>
</div>

<!-- Botão do Mercado Livre -->
<div class="cho-container">
</div>
  
  <script>
    const mp = new MercadoPago('TEST-99afa9d8-7aa3-443b-90bc-c71e932c4898', {
      locale: 'pt-BR'
    });
  
    mp.checkout({
      preference: {
          id: '{{preference}}'
      },
      render: {
          container: '.cho-container',
          label: 'Finalizar Pedido',
      }
    });
  </script>

{% endblock %}
