
{% extends 'base_autenticado.html' %}
{% load static %}

{% block titulo %}
 {{produto.titulo}}
{% endblock titulo %}

{% block 'conteudo' %}
<br>
<div class="conteudo-ver">
<div class="produto-coontainer-ver">
  <div class="coluna-img-produto">
    <div class="img-produto">
      <img src="{{produto.imagem.url}}" class="card-img-top-ver" alt="...">
    </div>
    
  </div>
    <div class="card-ver">
        <div class="btn-heart-ver">
          <button type="button" class="btn" onclick="activeBtnFav()">
            <img src="{% static 'ver_produto/img/icon_heart_fav.png' %}">
          </button>
        </div>
        <div class="card-body-ver card-info-ver">
          <p class="card-title-ver ">{{produto.titulo}}</p>
          
        </div>
        <strong>
          <p class="card-subtitle-ver ">R$: {{preco}}</p>
        </strong>

          <a href="{% url 'carrinho_add' produto.id %}" class="btn btn-info ver">Comprar</a> 
      </div>
</div>
</div>
<br>

<div class="col-descricao">
  <div class="produto-coontainer-ver desc-ver">
    <h1 class="desc-h1">Informações Do Produto</h1>
    <p class="desc-text">
      {{produto.descricao}}
    </p>
    <hr>
    <h1 class="desc-h1">Informaões Adicionais:</h1>
    
    

      <table class= "table-ver">
        <tr>
          <th class="bk-tabela2">Cor:</th>
          <td class="bk-tabela2">{{produto.cor}}</td>
        </tr>
        <tr>
          <th class="bk-tabela1">Categoria:</th>
          <td class="bk-tabela1">{{produto.categoria.nome}}</td>
        </tr>
        <tr>
          <th class="bk-tabela2">Marca:</th>
          <td class="bk-tabela2">{{produto.marca}}</td>
        </tr>
      </table>




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  </div>


</div>



{% endblock 'conteudo' %}