html{
    /* a cada 1 rem será considerado 10px */
    font-size: 62.5%;
}

body{
    background-color:rgb(255, 255, 255);
}
.form-control {
    font-size: 1.5rem;
}
.dropdown-item{
    font-size: 1.5rem;
}




/************* IMAGENS *************/
#icon-lupa{
    width: 30px;
}
#logo-papa{
    width: 200px;
    margin: 12px;
}
#icon-carrinho{
    width: 30px;
}
#icon-fav{
    width: 30px;
}
#logo-papa2{
    display: none;
}

/**************************/

/************* BUTTONS *************/

.btn-info:hover {
    color: #000;
    background-color: #a9e5ff;
    border-color: #48aeff;  
}
.mudabtn{
    
}
.btn-ocultar{
    background-color: #a9e5ff;
    border-color: #48aeff;
    border-radius: 5px;
    border-width: 10%;
    border-style: solid;
    border-width: 1px;
    height: 35px;
    font-size: 1.5rem;
    display: none;
}
.mudabtn{
    background-color: #ffff;
    border-color: #48aeff;
    border-radius: 5px;
    border-width: 10%;
    border-style: solid;
    border-width: 1px;
    height: 35px;
    font-size: 1.5rem;
    
}
.mudabtn{
    color: #48aeff;
}

.btn-icones{
    background: none;
    border: none;
}

/*carrinho de compra e de favoritos*/
.btn-icones{
    margin: 5px;
    text-decoration: none;
}


.itens-carrinho{
    display: flex;
    align-items: center;
}
.itens-fav{
    display: flex;
    align-items: center;
}
.bola-number{
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.number{
    font-size: 1.75rem;
}


/**************************/
.d-flex{
    width: 300px;
    width: 100%;
}
.navbar {
    width: 80%;

}
/*div por de baixo do navbar*/
.container-nav{
    width: 100%;
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
}

/*container do menu navbar*/
.container-nav {
    box-shadow: 7px 5px 13px 9px rgb(0 0 0 / 9%);
    background-color: #3095cf;
}

/*Altera container que contem o menu baixo e o menu cima*/
.menu-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-fluid{
    height: 65%;
}

.manu-principal-cima{
    display: flex;
    justify-content: center;
    width: 100%;
}
.manu-principal-baixo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*Altera a lista dos links das paginas do menu:*/
.lista-link-menu li :hover{
    background-color:#0546a7;
    border-radius: 5px;
}
.lista-link-menu li a{
    font-size: 2rem;
}
.navbar-nav{
    gap: 12px;
    align-items: center;
    font-size: 2rem
}
.minha-conta{
    font-size: 2rem;
}

/* altera conteiner onde fica os botões do carrinho de compra e favoritos*/
.div-flex-icones{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0px;
    gap: 10px;
}

/****** CONTAINER MAIN-SITE *********/

.main-site{
    background-color: whith;
    display: flex;
    justify-content: center;
}
.conteudo-principal{
    gap: 10px; 
    width: 90%;
    max-width: 1000px;
    display: flex;
}

.coluna-filtro{
    width: 20%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: 1.4rem;
}
/*
.coluna-produtos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:3px;
}*/
.coluna-produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
}
.card-body.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*    FONTES DOS PRODUTOS  */

.card-title{
    font-size: 2rem;
}
.card-subtitle{
    font-size: 3.5rem;
}
.btn.btn-info{
    font-size: 1.5rem;
}

.btn-info{
    color: #fff;
    background-color: #48aeff;
    border-color: none;
    margin-bottom: 8px;
    border-radius: 15px;
    width: 95%;
}
.btn-ver-detalhes{
    display: flex;
    justify-content: center;
}


.produto-coontainer{
    display:flex;
    justify-content: center;
}




.filtros-coontainer{
    display: flex;
    border-bottom: solid black;
}

.btn-esconde-filtro{
    display: none;
}

.btn-filtro{
    font-size: 1.5rem;
    width: 50%;
    border-radius: 5px;
}


/* CARROSSEL */

.carousel{
    box-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 0.090);
}

/* PRODUTOS */

.card{
    width: 233px;
    box-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 0.090);
}

.card-img-top {
    width: 231px;
    height: 200px;
}



/* FILTROS */

.filtrosBK{
    width: 100%;
    padding: 10px; 29px;
    border-radius: 10px;
    box-shadow: 0.5px 2.5px 3px rgba(0, 0, 0, 0.090);
}




/********* FOOTER:  *******/
.footer{
    background-color: dimgray;
    display: flex;
    justify-content: center;
}


@media (max-width: 992px){
    html{
        font-size: 55%;
    }
    .btn-esconde-mostra-filtro{
        display: none;
    }
    .active{
        display: block;
    }
    .navbar {
        width: 100%;
        justify-content: center;
    }
    .navbar-nav{
        width: 100%;
    }
    .nav-item{
        justify-content: start;
    }
    .btn-entrar{
        width:100px;
    }

    

    /*div por de baixo do navbar*/
    .container-nav{
        flex-direction: column;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
    }

    /*container que agloba barra de pesquisa do menu quanto ativa o botão navbar*/
    .d-flex{
        padding-top: 12px;
    }

    /**/
    .manu-principal-baixo{
        flex-direction: column-reverse;
    }

    /*container agrupa os icones favoritos e carrinho*/
    .div-flex-icones{
        align-items: start;
    }

    /*IMAGENS:*/
    #logo-papa2{
        display: flex;
        width: 100px;
    }
    #logo-papa{
        display: none;
    }

    /*PRODUTOS:*/
    .coluna-produtos{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        width: 100%;
    }
    .imagem-do-produto{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    html{
        font-size: 50%;
    }
    .btn-esconde-filtro{
        display: block;
        
    }
    

    .active{
        display: none;
    }

    .coluna-filtro {
        width: 100%;
        
        
    }
    .conteudo-principal{
        flex-direction: column;
    }
    /*PRODUTOS:*/
    .coluna-produtos{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        width: 100%;
        padding-block-end: 12px;
    }
    .imagem-do-produto{
        display: flex;
        justify-content: center;
    }

    .btn-ocultar{
        display: block;
    }
    
}








