body{
    background-color:rgb(255, 255, 255);
}


/************* IMAGENS *************/
#icon-lupa{
    width: 30px;
}
#logo-papa{
    width: 200px;
    margin: 12px;
}
#icon-carrinho{
    width: 30px;
}
#icon-fav{
    width: 30px;
}
#logo-papa2{
    display: none;
}

/**************************/

/************* BUTTONS *************/

.btn-icones{
    background: none;
    border: none;
}

/*carrinho de compra e de favoritos*/
.btn-icones{
    margin: 5px;
    text-decoration: none;
}


.itens-carrinho{
    display: flex;
    align-items: center;
}
.itens-fav{
    display: flex;
    align-items: center;
}
.bola-number{
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}



/**************************/
.d-flex{
    width: 300px;
    width: 100%;
}
.navbar {
    width: 80%;

}
/*div por de baixo do navbar*/
.container-nav{
    width: 100%;
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
}

/*container do menu navbar*/
.container-nav {
    border-bottom: solid 3px black;
}

/*Altera container que contem o menu baixo e o menu cima*/
.menu-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-fluid{
    height: 65%;
}

.manu-principal-cima{
    display: flex;
    justify-content: center;
    width: 100%;
}
.manu-principal-baixo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*Altera a lista dos links das paginas do menu:*/
.lista-link-menu li :hover{
    background-color:#0546a7;
    border-radius: 5px;
}
.lista-link-menu li a{
    font-size: 20px;
}
.navbar-nav{
    gap: 12px;
}
.minha-conta{
    font-size: 20px;
}

/* altera conteiner onde fica os botões do carrinho de compra e favoritos*/
.div-flex-icones{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0px;
    gap: 10px;
}

/****** CONTAINER MAIN-SITE *********/

.main-site{
    background-color: whith;
    display: flex;
    justify-content: center;
}
.conteudo-principal{
    gap: 10px; 
    width: 90%;
    display: flex;
}

.coluna-filtro{
    width: 20%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.coluna-produtos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.produto-coontainer{
    display:flex;
}




.filtros-coontainer{
    display: flex;
    border-bottom: solid black;
}

/********* FOOTER:  *******/
.footer{
    background-color: dimgray;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px){
    .navbar {
        width: 100%;
    }

    /*div por de baixo do navbar*/
    .container-nav{
        flex-direction: column;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
    }

    /*container que agloba barra de pesquisa do menu quanto ativa o botão navbar*/
    .d-flex{
        padding-top: 12px;
    }

    /**/
    .manu-principal-baixo{
        flex-direction: column-reverse;
    }

    /*container agrupa os icones favoritos e carrinho*/
    .div-flex-icones{
        align-items: start;
    }

    /*IMAGENS:*/
    #logo-papa2{
        display: flex;
        width: 100px;
    }
    #logo-papa{
        display: none;
    }

}