{% extends 'base_autenticado.html' %}
{% load static %}

{% block titulo %}
Erro 404
{% endblock titulo %}

{% block 'conteudo' %}

<br>
<br>
<div class="produto-coontainer col-md w-ops">
    <div class="card-ops" style="padding: 0;">
      <br>
      <br>
    <div class="card-ops" style="padding: 0;">
        <h3>Ops! ERRO :&#40;</h3>
        <H1><STRONG>4 0 4</STRONG></H1>
        <a href="{% url 'home' %}" class="btn btn-info">Voltar ao Site</a>
        <br>
    </div>
</div>

{% endblock %}
