{% load static %}
<div class="container-nav">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'home/img/logoPapaDoce.svg' %}" id="logo-papa"></a>
    <nav class="navbar navbar-expand-lg navbar navbar-dark">
      <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'home/img/logoPapaDoce.svg' %}" id="logo-papa2"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-principal" id="navbarSupportedContent">
          <div class="manu-principal-cima">
            <form class="d-flex" method="POST" action={% url 'pesquisa' %}> {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="O que voçê procura?" aria-label="Search" name="descricao" >
              <button class="btn btn-light" type="submit"><img src="{% static 'home/img/lupa_icon.png' %}" id="icon-lupa"></button>
            </form>

          </div>
          <div class="manu-principal-baixo">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 lista-link-menu">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'menu' 1 %}">Confeitaria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'menu' 2 %}">Art. para Festas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'menu' 3 %}">Doces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'menu' 4 %}">Embalages</a>
              </li>
            </ul>
            
            <form class="div-flex-icones">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 btn-entrar">
                <li class="nav-item dropdown">

                      {% if usuario.apelido %}
                      <a class="nav-link dropdown-toggle minha-conta" href="#" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bem vindo(a) {{usuario.apelido}}
                      </a>
                      {% else %}
                      <a class="nav-link dropdown-toggle minha-conta" href="#" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Entrar
                      </a>
                      {% endif %}
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                          <li><a class="dropdown-item" href="{% url 'verifica_meus_pedidos' %}">Meus Pedidos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'sair' %}">Sair</a></li>
                        </ul>
                  
                </li>
              </ul>

              <a class=" btn-icones button-fav " href="{% url 'verifica_favoritos' %}">
                <div class="itens-fav">
                  <img src="{% static 'home/img/favoritos_icon.svg' %}" id="icon-fav">
                  {% if qtd_favoritos > 0 %}
                  <div class="bola-number">
                    <span class="number">{{qtd_favoritos}}</span>
                  </div>
                {% endif %}
                </div>
              </a>
              <a class=" btn-icones button-carrinho" href="{% url 'verifica_carrinho' %}">
                <div class="itens-carrinho">
                  <img src="{% static 'home/img/carrinho_icon.svg' %}" id="icon-carrinho">
                  {% if qtd_carrinho > 0 %}
                  <div class="bola-number">
                    <span class="number">{{qtd_carrinho}}</span>
                  </div>
                {% endif %}
                </div>
              </a>
            </form>
          </div>

        </div>
      </div>
    </nav>
  </div>