{% load static %}
<div class="container-nav">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'home/img/logoPapaDoce.svg' %}" id="logo-papa"></a>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
      <div class="container-fluid">

        <img src="{% static 'home/img/logoPapaDoce.svg' %}" id="logo-papa2">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-principal" id="navbarSupportedContent">
          <div class="manu-principal-cima">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="O que voçê procura?" aria-label="Search" >
              <button class="btn btn-light" type="submit"><img src="{% static 'home/img/lupa_icon.png' %}" id="icon-lupa"></button>
            </form>

          </div>
          <div class="manu-principal-baixo">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 lista-link-menu">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Confeitaria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Art. para Festas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Doces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Embalages</a>
              </li>
              
            </ul>
            
            <form class="div-flex-icones">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle minha-conta" href="#" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Bem vindo(a)
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Perfil</a></li>
                          <li><a class="dropdown-item" href="#">Meus Pedidos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'sair' %}">Sair</a></li>
                        </ul>
                  
                </li>
              </ul>

              <a class=" btn-icones button-fav" href="{% url 'verifica_favoritos' %}">
                <img src="{% static 'home/img/favoritos_icon.svg' %}" id="icon-fav">
              </a>
              <a class=" btn-icones button-carrinho" href="#">
                <div class="itens-carrinho">
                  <img src="{% static 'home/img/carrinho_icon.svg' %}" id="icon-carrinho">
                  <div class="bola-nunmber">
                    <div class="number">0</div>
                  </div>
                </div>
              </a>
            </form>
          </div>

        </div>
      </div>
    </nav>
  </div>