{% extends 'base_autenticado.html' %}
{% load static %}



{% block titulo %} 
    perfil
{% endblock titulo %}


{% block 'conteudo' %}

<div class="container rounded bg-white mb-5">
    <div class="row">
        
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <span class="font-weight-bold"></span>
                <span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-8 border-right">
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
              </svg>
              {% if status == '2' %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                                Preencher todos os campos obrigatórios.
                        </div>
                    </div>
                {% endif %}

                {% if status == '3' %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                                Email de usuáreio já está sendo utilizado.
                        </div>
                    </div>
                {% endif %}

                {% if status == '4' %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                                CPF de usuáreio já está sendo utilizado.
                        </div>
                    </div>
                {% endif %}

                {% if status == '5' %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                                Erro interno do sistema!
                        </div>
                    </div>
                {% endif %}

                {% if status == '6' %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                                Endereco Removido Com sucesso!
                        </div>
                    </div>
                {% endif %}

                {% if status == '1' %}
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                                Alteração realizada com sucesso.
                        </div>
                    </div>
                {% endif %}

            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil de Usuário</h4>
                </div>
                <form name="form" id="form" method="post" action="{% url 'update_perfil' %}">
                    {% csrf_token %}
                    <div class="row mt-3">
                        <div class="form-group mt-4"><label class="labels">Nome</label><input name="nome" type="text" class="form-control" value="{{usuario.nome}}"></div>
                        <div class="form-group mt-4"><label class="labels">Apelido</label><input name="apelido" type="text" class="form-control"  value="{{usuario.apelido}}"></div>
                        <div class="form-group mt-4"><label class="labels">Email</label><input name="email" type="email" class="form-control" value="{{usuario.email}}"></div>
                        <div class="form-group mt-4"><label class="labels">CPF</label><input name="cpf" type="text" class="form-control"  value="{{usuario.cpf}}"></div>
                        <div class="form-group mt-4"><label class="labels">Data de Nascimento</label><input name="data_nascimento" type="date" class="form-control" value="{{usuario.data_nascimento}}"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-success profile-button" type="submit">Salvar Alterações</button></div>
                    <br></br>
                </form>
                <div class="row mt-3">

                    {% for endereco in endereco %}
                        <div class="container-endereco">
                            <div class="">
                                <p>{{endereco.endereco.rua}}</p>
                                <p>{{endereco.endereco.numero}}</p>
                                <p>{{endereco.endereco.bairro}}</p>
                                <p>{{endereco.endereco.cidade}}</p>
                                <p>{{endereco.endereco.cep}}</p>
                                <p>{{endereco.endereco.complemento}}</p>
                            </div>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#model-editar-endereco{{endereco.endereco.id}}">Editar</button>
                            <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#model-remover-endereco{{endereco.endereco.id}}">Remover Endereço</a>
                            
                            <!-- Modal Editar endereco-->
                            <div class="modal fade" id="model-editar-endereco{{endereco.endereco.id}}" tabindex="-1" aria-labelledby="{{endereco.endereco.id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="model-editar-endereco{{endereco.endereco.id}}">Editar Endereço</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="form" id="form" method="post" action="{% url 'update_endereco' endereco.endereco.id %}">
                                            {% csrf_token %}
                                            <div class="row mt-3">
                                                <div class="form-group mt-4"><label class="labels">Rua</label><input name="rua" type="text" class="form-control" value="{{endereco.endereco.rua}}"></div>
                                                <div class="form-group mt-4 "><label class="labels">Numero</label><input name="numero" type="text" class="form-control"  value="{{endereco.endereco.numero}}"></div>
                                                <div class="form-group mt-4"><label class="labels">Bairro</label><input name="bairro" type="text" class="form-control" value="{{endereco.endereco.bairro}}"></div>
                                                <div class="form-group mt-4"><label class="labels">Cidade</label><input name="cidade" type="text" class="form-control"  value="{{endereco.endereco.cidade}}"></div>
                                                <div class="form-group mt-4"><label class="labels">CEP</label><input name="cep" type="text" class="form-control" value="{{endereco.endereco.cep}}"></div>
                                                <div class="form-group mt-4"><label class="labels">Complemento</label><input name="complemento" type="text" class="form-control" value="{{endereco.endereco.complemento}}"></div>
                                            </div>
                                            <div class="mt-5 text-center">
                                                <button class="btn btn-success profile-button" type="submit">Salvar Alterações</button>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cancelar</button>
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                             <!-- Modal Remover endereco-->
                             <div class="modal fade" id="model-remover-endereco{{endereco.endereco.id}}" tabindex="-1" aria-labelledby="model-remover-endereco{{endereco.endereco.id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="model-remover-endereco{{endereco.endereco.id}}">Tem certeza que deseja remover este Endereço?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Todos os dados de seu endereço serão perdidos!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                        <a href="{% url 'endereco_remove' endereco.endereco.id %}" type="button" class="btn btn-danger" >Remover</a>
                                      </div>
                                </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}


                    <!-- Modal Adicionar novo endereco-->
                    <div class="modal fade" id="model-adicionar-endereco" tabindex="-1" aria-labelledby="model-adicionar-endereco" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="model-adicionar-endereco">Preenche os dados de seu Novo Endereço</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form name="form" id="form" method="post" action="{% url 'endereco_add' %}">
                                    {% csrf_token %}
                                    <div class="row mt-3">
                                        <div class="form-group mt-4"><label class="labels">Rua</label><input name="rua" type="text" class="form-control" value=""></div>
                                        <div class="form-group mt-4 "><label class="labels">Numero</label><input name="numero" type="text" class="form-control"  value=""></div>
                                        <div class="form-group mt-4"><label class="labels">Bairro</label><input name="bairro" type="text" class="form-control" value=""></div>
                                        <div class="form-group mt-4"><label class="labels">Cidade</label><input name="cidade" type="text" class="form-control"  value=""></div>
                                        <div class="form-group mt-4"><label class="labels">CEP</label><input name="cep" type="text" class="form-control" value=""></div>
                                        <div class="form-group mt-4"><label class="labels">Complemento</label><input name="complemento" type="text" class="form-control" value=""></div>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <button class="btn btn-success profile-button" type="submit">Adicionar</button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cancelar</button>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="mt-5 text-center"><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#model-adicionar-endereco">Novo Endereco</button></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

